<% layout('/listing/layouts') %>

    <h1>All Listing!</h1>
    <br>
    <br>
    <form method="get" action="/listing/new">
        <button>Create new</button>
    </form>
    <ul>
    <% for(let list of allData){ %>
                <li><a href="/listing/<%= list._id%>"><%= list.title %></a></li>
    <% } %>
    </ul>

